
@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto-Regular', sans-serif;
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary: #ff937e;
  --black: #101010;
  --blackLighter: #b7b7b7;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

a {
  color: inherit;
  font-style: unset;
  text-decoration: none;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}