
@font-face {
  font-family: "Klavika-Light";
  src: url("./assets/fonts/klavika-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Klavika-Regular";
  src: url("./assets/fonts/Klavika-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Klavika-Semibold";
  src: url("./assets/fonts/klavika-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Klavika-Bold";
  src: url("./assets/fonts/klavika-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Klavika-Regular";
  box-sizing: border-box;
  position: relative;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary: #ff937e;
  --black: #101010;
  --blackLighter: #b7b7b7;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
  --secondary: #8e7cc3;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}

a {
  color: inherit;
  font-style: unset;
  text-decoration: none;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}

.return-btn {
  font-size: 14px;
  display: inline;
}

.return-btn::before {
  content: '￩';
  margin-right: 6px;
  font-size: 26px;
}

h1 {
  margin: 25px 0 0;
  font-size: 30px;
  color: var(--primary);
}

form {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
}

p {
  color: var(--blackLighter);
  margin: 0;
}

i {
  color: var(--primary);
  text-decoration: none;
  font-style: unset;
}

.modal-overlay {
  background-color: #000000d9;
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: var(--white);
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  background-color: var(--black);
  width: 85vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.modal-content iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
  appearance: none;
  border: 0;
}
.modal-content .close-modal {
  appearance: none;
  border: 0;
  background-color: transparent;
  position: fixed;
  top: 20px;
  right: 30px;
  cursor: pointer;
  z-index: 6;
  width: 35px;
  height: 35px;
}
.modal-content .close-modal img {
  width: 100%;
  height: 100%;
}



/* Unicorn 404 */

.pixelart-to-css {
  box-shadow: 340px 20px 0 0 rgba(255, 193, 7, 1), 350px 20px 0 0 rgba(255, 193, 7, 1), 330px 30px 0 0 rgba(255, 193, 7, 1), 340px 30px 0 0 rgba(255, 193, 7, 1), 290px 40px 0 0 rgba(255, 255, 255, 1), 300px 40px 0 0 rgba(255, 255, 255, 1), 320px 40px 0 0 rgba(255, 193, 7, 1), 330px 40px 0 0 rgba(255, 193, 7, 1), 260px 50px 0 0 rgba(255, 0, 0, 1), 270px 50px 0 0 rgba(255, 87, 34, 1), 280px 50px 0 0 rgba(255, 87, 34, 1), 290px 50px 0 0 rgba(255, 255, 255, 1), 300px 50px 0 0 rgba(255, 255, 255, 1), 310px 50px 0 0 rgba(255, 193, 7, 1), 320px 50px 0 0 rgba(255, 193, 7, 1), 240px 60px 0 0 rgba(255, 0, 0, 1), 250px 60px 0 0 rgba(255, 0, 0, 1), 260px 60px 0 0 rgba(255, 87, 34, 1), 270px 60px 0 0 rgba(255, 235, 59, 1), 280px 60px 0 0 rgba(255, 235, 59, 1), 290px 60px 0 0 rgba(255, 255, 255, 1), 300px 60px 0 0 rgba(255, 255, 255, 1), 310px 60px 0 0 rgba(255, 255, 255, 1), 320px 60px 0 0 rgba(255, 255, 255, 1), 230px 70px 0 0 rgba(255, 0, 0, 1), 240px 70px 0 0 rgba(255, 87, 34, 1), 250px 70px 0 0 rgba(255, 87, 34, 1), 260px 70px 0 0 rgba(255, 235, 59, 1), 270px 70px 0 0 rgba(76, 175, 80, 1), 280px 70px 0 0 rgba(33, 150, 243, 1), 290px 70px 0 0 rgba(255, 255, 255, 1), 300px 70px 0 0 rgba(255, 255, 255, 1), 310px 70px 0 0 rgba(255, 255, 255, 1), 320px 70px 0 0 rgba(255, 255, 255, 1), 330px 70px 0 0 rgba(255, 255, 255, 1), 80px 80px 0 0 rgba(255, 0, 0, 1), 90px 80px 0 0 rgba(255, 0, 0, 1), 100px 80px 0 0 rgba(255, 0, 0, 1), 130px 80px 0 0 rgba(255, 255, 255, 1), 140px 80px 0 0 rgba(255, 255, 255, 1), 150px 80px 0 0 rgba(255, 255, 255, 1), 160px 80px 0 0 rgba(255, 255, 255, 1), 170px 80px 0 0 rgba(255, 255, 255, 1), 180px 80px 0 0 rgba(255, 255, 255, 1), 210px 80px 0 0 rgba(255, 0, 0, 1), 220px 80px 0 0 rgba(255, 0, 0, 1), 230px 80px 0 0 rgba(255, 87, 34, 1), 240px 80px 0 0 rgba(255, 235, 59, 1), 250px 80px 0 0 rgba(255, 235, 59, 1), 260px 80px 0 0 rgba(76, 175, 80, 1), 270px 80px 0 0 rgba(33, 150, 243, 1), 280px 80px 0 0 rgba(103, 58, 183, 1), 290px 80px 0 0 rgba(255, 255, 255, 1), 300px 80px 0 0 rgba(255, 255, 255, 1), 310px 80px 0 0 rgba(255, 255, 255, 1), 330px 80px 0 0 rgba(255, 255, 255, 1), 340px 80px 0 0 rgba(255, 255, 255, 1), 70px 90px 0 0 rgba(255, 0, 0, 1), 80px 90px 0 0 rgba(255, 87, 34, 1), 90px 90px 0 0 rgba(255, 87, 34, 1), 100px 90px 0 0 rgba(255, 87, 34, 1), 110px 90px 0 0 rgba(255, 0, 0, 1), 120px 90px 0 0 rgba(255, 255, 255, 1), 130px 90px 0 0 rgba(255, 255, 255, 1), 140px 90px 0 0 rgba(255, 255, 255, 1), 150px 90px 0 0 rgba(255, 255, 255, 1), 160px 90px 0 0 rgba(255, 255, 255, 1), 170px 90px 0 0 rgba(255, 255, 255, 1), 180px 90px 0 0 rgba(255, 255, 255, 1), 190px 90px 0 0 rgba(255, 255, 255, 1), 200px 90px 0 0 rgba(255, 0, 0, 1), 210px 90px 0 0 rgba(255, 87, 34, 1), 220px 90px 0 0 rgba(255, 87, 34, 1), 230px 90px 0 0 rgba(255, 235, 59, 1), 240px 90px 0 0 rgba(255, 235, 59, 1), 250px 90px 0 0 rgba(76, 175, 80, 1), 260px 90px 0 0 rgba(33, 150, 243, 1), 270px 90px 0 0 rgba(103, 58, 183, 1), 280px 90px 0 0 rgba(156, 39, 176, 1), 290px 90px 0 0 rgba(255, 255, 255, 1), 300px 90px 0 0 rgba(255, 255, 255, 1), 310px 90px 0 0 rgba(255, 255, 255, 1), 320px 90px 0 0 rgba(255, 255, 255, 1), 330px 90px 0 0 rgba(255, 255, 255, 1), 340px 90px 0 0 rgba(255, 255, 255, 1), 350px 90px 0 0 rgba(255, 255, 255, 1), 360px 90px 0 0 rgba(255, 255, 255, 1), 60px 100px 0 0 rgba(255, 0, 0, 1), 70px 100px 0 0 rgba(255, 87, 34, 1), 80px 100px 0 0 rgba(255, 235, 59, 1), 90px 100px 0 0 rgba(255, 235, 59, 1), 100px 100px 0 0 rgba(255, 235, 59, 1), 110px 100px 0 0 rgba(255, 255, 255, 1), 120px 100px 0 0 rgba(255, 255, 255, 1), 130px 100px 0 0 rgba(255, 255, 255, 1), 140px 100px 0 0 rgba(255, 255, 255, 1), 150px 100px 0 0 rgba(255, 255, 255, 1), 160px 100px 0 0 rgba(255, 255, 255, 1), 170px 100px 0 0 rgba(255, 255, 255, 1), 180px 100px 0 0 rgba(255, 255, 255, 1), 190px 100px 0 0 rgba(255, 255, 255, 1), 200px 100px 0 0 rgba(255, 255, 255, 1), 210px 100px 0 0 rgba(255, 235, 59, 1), 220px 100px 0 0 rgba(255, 235, 59, 1), 230px 100px 0 0 rgba(76, 175, 80, 1), 240px 100px 0 0 rgba(76, 175, 80, 1), 250px 100px 0 0 rgba(33, 150, 243, 1), 260px 100px 0 0 rgba(33, 150, 243, 1), 270px 100px 0 0 rgba(103, 58, 183, 1), 280px 100px 0 0 rgba(156, 39, 176, 1), 290px 100px 0 0 rgba(255, 255, 255, 1), 300px 100px 0 0 rgba(255, 255, 255, 1), 310px 100px 0 0 rgba(255, 255, 255, 1), 320px 100px 0 0 rgba(255, 255, 255, 1), 330px 100px 0 0 rgba(255, 255, 255, 1), 340px 100px 0 0 rgba(255, 255, 255, 1), 350px 100px 0 0 rgba(255, 255, 255, 1), 360px 100px 0 0 rgba(255, 255, 255, 1), 370px 100px 0 0 rgba(255, 255, 255, 1), 50px 110px 0 0 rgba(255, 0, 0, 1), 60px 110px 0 0 rgba(255, 87, 34, 1), 70px 110px 0 0 rgba(255, 235, 59, 1), 80px 110px 0 0 rgba(76, 175, 80, 1), 90px 110px 0 0 rgba(76, 175, 80, 1), 100px 110px 0 0 rgba(76, 175, 80, 1), 110px 110px 0 0 rgba(255, 255, 255, 1), 120px 110px 0 0 rgba(255, 255, 255, 1), 130px 110px 0 0 rgba(255, 255, 255, 1), 140px 110px 0 0 rgba(255, 255, 255, 1), 150px 110px 0 0 rgba(255, 255, 255, 1), 160px 110px 0 0 rgba(255, 255, 255, 1), 170px 110px 0 0 rgba(255, 255, 255, 1), 180px 110px 0 0 rgba(255, 255, 255, 1), 190px 110px 0 0 rgba(255, 255, 255, 1), 200px 110px 0 0 rgba(255, 255, 255, 1), 210px 110px 0 0 rgba(255, 255, 255, 1), 220px 110px 0 0 rgba(76, 175, 80, 1), 230px 110px 0 0 rgba(76, 175, 80, 1), 240px 110px 0 0 rgba(33, 150, 243, 1), 250px 110px 0 0 rgba(33, 150, 243, 1), 260px 110px 0 0 rgba(103, 58, 183, 1), 270px 110px 0 0 rgba(156, 39, 176, 1), 280px 110px 0 0 rgba(255, 255, 255, 1), 290px 110px 0 0 rgba(255, 255, 255, 1), 300px 110px 0 0 rgba(255, 255, 255, 1), 310px 110px 0 0 rgba(255, 255, 255, 1), 320px 110px 0 0 rgba(255, 255, 255, 1), 330px 110px 0 0 rgba(255, 255, 255, 1), 340px 110px 0 0 rgba(255, 255, 255, 1), 350px 110px 0 0 rgba(255, 255, 255, 1), 360px 110px 0 0 rgba(255, 255, 255, 1), 370px 110px 0 0 rgba(255, 255, 255, 1), 40px 120px 0 0 rgba(255, 0, 0, 1), 50px 120px 0 0 rgba(255, 87, 34, 1), 60px 120px 0 0 rgba(255, 235, 59, 1), 70px 120px 0 0 rgba(76, 175, 80, 1), 80px 120px 0 0 rgba(33, 150, 243, 1), 90px 120px 0 0 rgba(33, 150, 243, 1), 100px 120px 0 0 rgba(103, 58, 183, 1), 110px 120px 0 0 rgba(255, 255, 255, 1), 120px 120px 0 0 rgba(255, 255, 255, 1), 130px 120px 0 0 rgba(255, 255, 255, 1), 140px 120px 0 0 rgba(255, 255, 255, 1), 150px 120px 0 0 rgba(255, 255, 255, 1), 160px 120px 0 0 rgba(255, 255, 255, 1), 170px 120px 0 0 rgba(255, 255, 255, 1), 180px 120px 0 0 rgba(255, 255, 255, 1), 190px 120px 0 0 rgba(255, 255, 255, 1), 200px 120px 0 0 rgba(255, 255, 255, 1), 210px 120px 0 0 rgba(255, 255, 255, 1), 220px 120px 0 0 rgba(33, 150, 243, 1), 230px 120px 0 0 rgba(33, 150, 243, 1), 240px 120px 0 0 rgba(103, 58, 183, 1), 250px 120px 0 0 rgba(103, 58, 183, 1), 260px 120px 0 0 rgba(156, 39, 176, 1), 270px 120px 0 0 rgba(255, 255, 255, 1), 280px 120px 0 0 rgba(255, 255, 255, 1), 290px 120px 0 0 rgba(255, 255, 255, 1), 300px 120px 0 0 rgba(255, 255, 255, 1), 310px 120px 0 0 rgba(255, 255, 255, 1), 320px 120px 0 0 rgba(255, 255, 255, 1), 330px 120px 0 0 rgba(255, 255, 255, 1), 340px 120px 0 0 rgba(255, 255, 255, 1), 350px 120px 0 0 rgba(255, 255, 255, 1), 360px 120px 0 0 rgba(255, 255, 255, 1), 30px 130px 0 0 rgba(255, 0, 0, 1), 40px 130px 0 0 rgba(255, 87, 34, 1), 50px 130px 0 0 rgba(255, 235, 59, 1), 60px 130px 0 0 rgba(76, 175, 80, 1), 70px 130px 0 0 rgba(33, 150, 243, 1), 80px 130px 0 0 rgba(103, 58, 183, 1), 90px 130px 0 0 rgba(103, 58, 183, 1), 100px 130px 0 0 rgba(156, 39, 176, 1), 110px 130px 0 0 rgba(255, 255, 255, 1), 120px 130px 0 0 rgba(255, 255, 255, 1), 130px 130px 0 0 rgba(255, 255, 255, 1), 140px 130px 0 0 rgba(255, 255, 255, 1), 150px 130px 0 0 rgba(255, 255, 255, 1), 160px 130px 0 0 rgba(255, 255, 255, 1), 170px 130px 0 0 rgba(255, 255, 255, 1), 180px 130px 0 0 rgba(255, 255, 255, 1), 190px 130px 0 0 rgba(255, 255, 255, 1), 200px 130px 0 0 rgba(255, 255, 255, 1), 210px 130px 0 0 rgba(255, 255, 255, 1), 220px 130px 0 0 rgba(103, 58, 183, 1), 230px 130px 0 0 rgba(103, 58, 183, 1), 240px 130px 0 0 rgba(156, 39, 176, 1), 250px 130px 0 0 rgba(156, 39, 176, 1), 260px 130px 0 0 rgba(255, 255, 255, 1), 270px 130px 0 0 rgba(255, 255, 255, 1), 280px 130px 0 0 rgba(255, 255, 255, 1), 290px 130px 0 0 rgba(255, 255, 255, 1), 300px 130px 0 0 rgba(255, 255, 255, 1), 310px 130px 0 0 rgba(255, 255, 255, 1), 320px 130px 0 0 rgba(255, 255, 255, 1), 330px 130px 0 0 rgba(255, 255, 255, 1), 340px 130px 0 0 rgba(255, 255, 255, 1), 350px 130px 0 0 rgba(255, 255, 255, 1), 20px 140px 0 0 rgba(255, 87, 34, 1), 30px 140px 0 0 rgba(255, 87, 34, 1), 40px 140px 0 0 rgba(255, 235, 59, 1), 50px 140px 0 0 rgba(76, 175, 80, 1), 60px 140px 0 0 rgba(33, 150, 243, 1), 70px 140px 0 0 rgba(103, 58, 183, 1), 80px 140px 0 0 rgba(103, 58, 183, 1), 90px 140px 0 0 rgba(156, 39, 176, 1), 100px 140px 0 0 rgba(156, 39, 176, 1), 120px 140px 0 0 rgba(255, 255, 255, 1), 130px 140px 0 0 rgba(255, 255, 255, 1), 140px 140px 0 0 rgba(255, 255, 255, 1), 150px 140px 0 0 rgba(255, 255, 255, 1), 160px 140px 0 0 rgba(255, 255, 255, 1), 170px 140px 0 0 rgba(255, 255, 255, 1), 180px 140px 0 0 rgba(255, 255, 255, 1), 190px 140px 0 0 rgba(255, 255, 255, 1), 200px 140px 0 0 rgba(255, 255, 255, 1), 210px 140px 0 0 rgba(255, 255, 255, 1), 220px 140px 0 0 rgba(255, 255, 255, 1), 230px 140px 0 0 rgba(156, 39, 176, 1), 240px 140px 0 0 rgba(255, 255, 255, 1), 250px 140px 0 0 rgba(255, 255, 255, 1), 260px 140px 0 0 rgba(255, 255, 255, 1), 270px 140px 0 0 rgba(255, 255, 255, 1), 280px 140px 0 0 rgba(255, 255, 255, 1), 290px 140px 0 0 rgba(255, 255, 255, 1), 300px 140px 0 0 rgba(255, 255, 255, 1), 30px 150px 0 0 rgba(255, 235, 59, 1), 40px 150px 0 0 rgba(76, 175, 80, 1), 50px 150px 0 0 rgba(33, 150, 243, 1), 60px 150px 0 0 rgba(103, 58, 183, 1), 70px 150px 0 0 rgba(103, 58, 183, 1), 80px 150px 0 0 rgba(156, 39, 176, 1), 110px 150px 0 0 rgba(255, 255, 255, 1), 120px 150px 0 0 rgba(255, 255, 255, 1), 130px 150px 0 0 rgba(255, 255, 255, 1), 140px 150px 0 0 rgba(255, 255, 255, 1), 150px 150px 0 0 rgba(255, 255, 255, 1), 160px 150px 0 0 rgba(255, 255, 255, 1), 170px 150px 0 0 rgba(255, 255, 255, 1), 180px 150px 0 0 rgba(255, 255, 255, 1), 190px 150px 0 0 rgba(255, 255, 255, 1), 200px 150px 0 0 rgba(255, 255, 255, 1), 210px 150px 0 0 rgba(255, 255, 255, 1), 220px 150px 0 0 rgba(255, 255, 255, 1), 230px 150px 0 0 rgba(255, 255, 255, 1), 240px 150px 0 0 rgba(255, 255, 255, 1), 250px 150px 0 0 rgba(255, 255, 255, 1), 260px 150px 0 0 rgba(255, 255, 255, 1), 270px 150px 0 0 rgba(255, 255, 255, 1), 280px 150px 0 0 rgba(255, 255, 255, 1), 290px 150px 0 0 rgba(255, 255, 255, 1), 300px 150px 0 0 rgba(255, 255, 255, 1), 40px 160px 0 0 rgba(33, 150, 243, 1), 50px 160px 0 0 rgba(103, 58, 183, 1), 60px 160px 0 0 rgba(103, 58, 183, 1), 70px 160px 0 0 rgba(156, 39, 176, 1), 100px 160px 0 0 rgba(255, 255, 255, 1), 110px 160px 0 0 rgba(255, 255, 255, 1), 120px 160px 0 0 rgba(255, 255, 255, 1), 130px 160px 0 0 rgba(255, 255, 255, 1), 140px 160px 0 0 rgba(255, 255, 255, 1), 150px 160px 0 0 rgba(255, 255, 255, 1), 160px 160px 0 0 rgba(255, 255, 255, 1), 170px 160px 0 0 rgba(255, 255, 255, 1), 180px 160px 0 0 rgba(255, 255, 255, 1), 190px 160px 0 0 rgba(255, 255, 255, 1), 200px 160px 0 0 rgba(255, 255, 255, 1), 210px 160px 0 0 rgba(255, 255, 255, 1), 220px 160px 0 0 rgba(255, 255, 255, 1), 230px 160px 0 0 rgba(255, 255, 255, 1), 240px 160px 0 0 rgba(255, 255, 255, 1), 250px 160px 0 0 rgba(255, 255, 255, 1), 260px 160px 0 0 rgba(255, 255, 255, 1), 270px 160px 0 0 rgba(255, 255, 255, 1), 280px 160px 0 0 rgba(255, 255, 255, 1), 290px 160px 0 0 rgba(255, 255, 255, 1), 300px 160px 0 0 rgba(255, 255, 255, 1), 310px 160px 0 0 rgba(255, 255, 255, 1), 50px 170px 0 0 rgba(103, 58, 183, 1), 60px 170px 0 0 rgba(156, 39, 176, 1), 70px 170px 0 0 rgba(156, 39, 176, 1), 100px 170px 0 0 rgba(255, 255, 255, 1), 110px 170px 0 0 rgba(255, 255, 255, 1), 120px 170px 0 0 rgba(255, 255, 255, 1), 150px 170px 0 0 rgba(255, 255, 255, 1), 160px 170px 0 0 rgba(255, 255, 255, 1), 170px 170px 0 0 rgba(255, 255, 255, 1), 180px 170px 0 0 rgba(255, 255, 255, 1), 220px 170px 0 0 rgba(255, 255, 255, 1), 230px 170px 0 0 rgba(255, 255, 255, 1), 240px 170px 0 0 rgba(255, 255, 255, 1), 250px 170px 0 0 rgba(255, 255, 255, 1), 290px 170px 0 0 rgba(255, 255, 255, 1), 300px 170px 0 0 rgba(255, 255, 255, 1), 310px 170px 0 0 rgba(255, 255, 255, 1), 320px 170px 0 0 rgba(255, 255, 255, 1), 50px 180px 0 0 rgba(103, 58, 183, 1), 100px 180px 0 0 rgba(255, 255, 255, 1), 110px 180px 0 0 rgba(255, 255, 255, 1), 150px 180px 0 0 rgba(255, 255, 255, 1), 160px 180px 0 0 rgba(255, 255, 255, 1), 170px 180px 0 0 rgba(255, 255, 255, 1), 180px 180px 0 0 rgba(255, 255, 255, 1), 220px 180px 0 0 rgba(255, 255, 255, 1), 230px 180px 0 0 rgba(255, 255, 255, 1), 240px 180px 0 0 rgba(255, 255, 255, 1), 250px 180px 0 0 rgba(255, 255, 255, 1), 300px 180px 0 0 rgba(255, 255, 255, 1), 310px 180px 0 0 rgba(255, 255, 255, 1), 160px 190px 0 0 rgba(255, 255, 255, 1), 170px 190px 0 0 rgba(255, 255, 255, 1), 230px 190px 0 0 rgba(255, 255, 255, 1), 240px 190px 0 0 rgba(255, 255, 255, 1);
  height: 10px;
  width: 10px;
  margin-top: 30px;
  /* margin-left: -380px; */
}